@use '@/utils/variables' as *;

.age_popularity {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 200px;

  .age_popularity_title {
    font-size: 20px;
    color: $deep-green;
    margin-bottom: -20px;
  }

  .age_popularity_btn_group {
    width: 101%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    top: 93px;
    right: 15px;
    .age_left_btn,
    .age_right_btn {
      font-size: 35px;
      cursor: pointer;
      color: $green;
    }

    .age_left_btn.disabled,
    .age_right_btn.disabled {
      opacity: 0.4; /* 흐릿하게 보이게 */
      cursor: not-allowed; /* 클릭 불가 느낌 */
    }
  }
  /* 슬라이더 구조 */
  .age_slider-container {
    width: 98%;
    overflow: hidden;
    display: flex;

    .age_slider-wrapper {
      width: fit-content;
      display: flex;
      justify-content: center;
      gap: 17px;
      transition: transform 0.3s ease;

      .no_jobs {
        min-width: 940px; // (300px * 3 카드 + 여유 간격 정도 맞춰서)
        padding: 60px 0;
        background-color: $light-orange;
        border: 1px dashed #ccc;
        border-radius: 8px;
        font-size: 16px;
        color: #999;
        text-align: center;
      }

      .job_card {
        min-width: 300px;
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        transition: 0.2s;
        position: relative;

        &:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
        }

        .job_left {
          display: flex;
          flex-direction: column;

          .company {
            font-size: 15px;
            color: $gray-text;
            margin-bottom: 8px;
          }

          .title {
            width: 200px;
            font-size: 16px;
            font-weight: 600;
            color: $gray-dark;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .date {
            font-size: 13px;
            color: #999;
            margin-bottom: 10px;
          }

          .location {
            font-size: 13px;
            color: $gray-text;
          }
        }
        .job_right {
          font-size: 22px;
          position: absolute;
          top: 20px;
          right: 20px;
          .bookmark_icon {
            cursor: pointer;
            color: $border-color;
            &.filled {
              color: $orange;
            }
          }
        }
      }
    }
  }
}
