@use '@/utils/variables' as v;

.AnnouncementTitle_container {
    padding: 30px;
    .div_box {
        display: flex;
        align-items: center;
        margin-top: 30px;
        >.Category_condainer {
            width: 120px !important;
        }
    }
    .error_message {
        color: v.$error-red;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 120px;
    }
}