.AnnouncementTitle_container {
    padding: 30px;
    .div_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .recruite_peple {
            width: 50px;
        }

        :nth-child(2) {
            padding-left: 40px;
        }
    }
}