.company_main {
    background-color: rgb(243, 243, 243);
    min-height: 90vh;
}
.AnnouncementContent_container {
    padding: 30px;
    margin-bottom: 50px;
    > .div_box {
        display: flex;
        margin: 30px 0;
        >.Category_condainer {
            width: 120px !important;
        }
    }
}