@use '@/utils/variables' as v;
$LINE_COLOR: #A8A8A8;

.JobRequirement_container {
    padding: 30px;
    >.div_box {
        display: flex;
        align-items: center;
        margin-top: 30px;
        >.Category_condainer {
            width: 120px !important;
        }
        >.InputText_container {
            width: auto !important;
        }
    }
    .div_start_time { // 모집기간 시작시간 css
        border: 1px solid $LINE_COLOR;
        border-radius: 10px;
        color: #A8A8A8;
        padding: 8px 20px;
        font-size: 0.9rem;
        cursor: default;
    }
    .p_swung_dash { // 모집기간의 물결 css
        margin: 0 10px;
    }
    .options { // 단일 상시/협의 가능 css
        > .InputRadio_container {
            margin-left: 20px;
        }
    }
    .error_message {
        color: v.$error-red;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 120px;
    }
}