@use '@/utils/variables' as *;

.JobRequirement_container {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid $border-color;
  > .div_box {
    display: flex;
    align-items: center;
    margin-top: 30px;

    > .Category_condainer {
      width: 120px !important;
    }
    > .InputText_container {
      width: auto !important;
    }
    >:nth-child(5) {
      margin-left: 20px;
    }
  }
  .div_start_time {
    // 모집기간 시작시간 css
    border: 1px solid $border-color;
    border-radius: 10px;
    color: #a8a8a8;
    padding: 8px 20px;
    font-size: 0.9rem;
    cursor: default;
  }
  .p_swung_dash {
    // 모집기간의 물결 css
    margin: 0 10px;
  }
  .options {
    // 단일 상시/협의 가능 css
    > .InputRadio_container {
      margin-left: 20px;
    }
  }
  .error_message {
    color: $error-red;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 120px;
  }
}
