@use '@/utils/variables' as v;
$LINE_COLOR: #B3B3B3;

.WorkLocation_container {
    padding: 30px;
    .div_box {
        display: flex;
        margin-top: 30px;
        >.Category_condainer {
            width: 120px !important;
        }
    }
    > :nth-child(2) {
        .search {
            flex-grow: 1;
            border: 1px solid $LINE_COLOR;
            border-radius: 10px;
            background-color: white;
            text-align: start;
            color: #636363;
            width: 100px;
            height: 35px;
            padding-left: 10px;
        }
    }
    .error_message {
        color: v.$error-red;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 120px;
    }
}