.WorkRequirement_container {
    padding: 30px;
    .box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        > :nth-child(1) {
            flex-basis: 122px;
        }
        > :nth-child(3) {
            margin-left: 10px;
        }
    }

    .move_pos {
        > :nth-child(1) {
            flex-basis: 150px;
        }
    }
}