@use '@/utils/variables' as *;

.WorkLocation_container {
  padding: 60px 0;
  border-bottom: 1px solid $border-color;
  .div_box {
    display: flex;
    margin-top: 30px;
    > .Category_condainer {
      width: 120px !important;
    }
  }
  > :nth-child(2) {
    .search {
      flex-grow: 1;
      border: 1px solid $border-color;
      border-radius: 10px;
      background-color: white;
      text-align: start;
      color: $gray-text;
      width: 100px;
      height: 35px;
      padding-left: 10px;
    }
  }
  .error_message {
    color: $error-red;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 120px;
  }
}
