@use '@/utils/variables' as *;

.find_company_email_page {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 16px;
    height: 100%;
    margin-top: 60px;
    border-radius: 20px;

  .find_company_email_card {
    max-width: 720px;
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 40px 32px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 60px;

    .icon {
      font-size: 28px;
      color: $green;
    }

    h2 {
      font-size: 30px;
      font-weight: 750;
      color: $green;
    }
  }

  .button_group {
    margin-top: 28px;

    .dual_buttons {
      display: flex;
      gap: 12px;

      button {
        flex: 1;
        height: 48px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }

      .back_btn {
        background-color: #ccc;
        color: #333;

        &:hover {
          background-color: #b5b5b5;
        }
      }

      .next_btn {
        background-color: $green;
        color: white;

        &:hover {
          background-color: $deep-green;
        }

        &:disabled {
          background-color: #ddd;
          cursor: not-allowed;
        }
      }
    }
  }
}
