@use '@/utils/variables' as *;

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_box {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.modal_box p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
}


.modal_confirm {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $green;
  color: white;

  &:hover {
    background-color: $deep-green !important;
  }
}

.modal_cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ddd;
  color: #333;

  &:hover {
    background-color: #ccc;
  }
}

.close_buttons {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none !important;
  background-color: transparent !important;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333 !important;
  cursor: pointer;
  transition: none;

  &:hover {
    color: #333;
  }
}
