@use '@/utils/variables' as *;

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_box {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.modal_box p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.modal_buttons .modal_confirm,
.modal_buttons .modal_cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal_buttons .modal_confirm {
  background-color: $green;
  color: white;
}

.modal_buttons .modal_confirm:hover {
  background-color: $green;
}

.modal_buttons .modal_cancel {
  background-color: #ddd;
  color: #333;
}

.modal_buttons .modal_cancel:hover {
  background-color: #ccc;
}
