@use '@/utils/variables' as *;

.companyMyPage_main {
  display: flex;
  justify-content: center;
}
.CompanyMyPage_cantainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 80px;

  button {
    cursor: pointer;
  }
  h2 {
    font-size: $font-h5;
    color: $deep-green;
    margin-bottom: 30px;
  }

  .hr {
    width: 100%;
    margin: 80px 0;
    border-top: 1px solid $border-color;
  }

  .h1_title {
    margin-bottom: 30px;
    font-size: $font-h2;
    color: $orange;
  }

  .div_info {
    display: flex;
    justify-content: space-between;
  }

  .button_add {
    flex-basis: 150px;
    border: none;
    border-radius: 8px;
    background-color: $green;
    font-size: $font-body;
    font-weight: $weight-medium;
    color: white;
    padding: 0 20px;
    margin-left: 20px;
    transition:
      transform 0.2s ease,
      background-color 0.3s ease;
    &:hover {
      background-color: $deep-green;
    }
  }
  .div_noting {
    background-color: $gray-background;
    border: 1px dashed #ccc;
    border-radius: 10px;
    color: $light-gray-text;
    text-align: center;
    font-size: 1.1rem;
    padding: 30px 0;
    margin-top: 20px;
  }
}
