@use '@/utils/variables' as v;

// .main_container {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     padding-top: 40px;
// }

.companyMyPage_main {
  display: flex;
  justify-content: center;
}
.companyMyPage_cantainer {
  display: flex;
  flex-direction: column;
  width: 60%;

  button {
    cursor: pointer;
  }

  .hr {
    width: 100%;
    margin: 50px 0;
  }
  .h1_title {
    margin-bottom: 30px;
  }

  .div_info {
    display: flex;
    justify-content: space-between;
  }

  .button_add {
    flex-basis: 200px;
    border: none;
    border-radius: 20px;
    background-color: v.$green;
    font-size: 2.3rex;
    color: white;
    padding: 0 20px;
    margin-left: 20px;
  }
  .div_noting {
    background-color: v.$gray-background;
    border: 1px dashed #ccc;
    border-radius: 10px;
    color: v.$light-gray-text;
    text-align: center;
    font-size: 1.1rem;
    padding: 30px 0;
    margin-top: 20px;
  }
}
