// utils/variables.scss
//@use '@/utils/variables' as *;

$green: #0f8c3b;
$deep-green: #10572a;
$light-green: #eef8f1;
$hover-orange: #ffe9ca;
$orange: #ffa82f;
$light-orange: #fff7ec;
$deep-orange: #e27100;
$gray-dark: #333;
$gray-text: #666;
$gray-near-white: #eeeeee;
$light-gray-text: #a5a5a5;
$white-text: #fff;

$border-color: #ccc;
$gray-background: #f6f6f6;
$white-background: #f3f3f3;
