@use "../../utils/variables" as *;

.job_card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      .company {
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 8px;
      }
      .title {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 8px;
      }
      .description {
        color: #555;
        font-size: 0.9rem;
        margin-bottom: 8px;
      }
      .bookmark_icon {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 1.4rem;
        cursor: pointer;
        color: #ccc;
        transition: color 0.3s;
      }
      .bookmark_icon.filled {
        color: $orange; // 빨간색 (채워진 북마크 색상)
      }
      .bookmark_icon:hover {
        color: #ff9800;
      }
    }
    &:hover {
      transform: translateY(-4px);
    }

    .payment-hourly {
      color: #009688; // 청록색 (시급)
      font-weight: bold;
    }

    .payment-monthly {
      color: #3f51b5; // 진한 파랑 (월급)
      font-weight: bold;
    }

    .payment-daily {
      color: #ff9800; // 주황색 (일급)
      font-weight: bold;
    }

    .payment-default {
      color: #666; // 기본 회색
    }
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recruitStatus{
  font-size: 0.8rem;
  color: #888;
}