@use "../../utils/variables" as v;

.section_title {
  font-size: 20px;
  font-weight: bold;
  color: #2e7d32;
}


.star_icon {
  font-size: 26px;
  cursor: pointer;
  color: v.$orange;
  transition: transform 0.2s;

  &.filled {
    color: v.$orange;

  }

  &:hover {
    transform: scale(1.1);
  }
}