@use '@/utils/variables' as *;

.job_section {
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
  padding: 10px;

  .PublicJobList_container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;

      .title {
        font-size: $font-h4;
        font-weight: bold;
        color: $green;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        padding-bottom: 30px;
        gap: 5px;

        button {
          background-color: $green;
          color: white;
          border: none;
          padding: 5px 10px;
          font-size: 18px;
          border-radius: 8px;
          cursor: pointer;

          &:disabled {
            background-color: #ddd;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .public-job-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
    justify-items: stretch;
  }
}
