@use '@/utils/variables' as *;

.PublicJobCard_container {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 160px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    text-decoration: none;
    color: $gray-dark;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .institute {
      font-size: $font-small;
      font-weight: bold;
      color: $gray-text;
    }
  }
  .content {
    margin-bottom: 40px;

    .job_title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-body;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 70%;
      word-break: break-word;

      .region {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-small;
        color: $light-gray-text;
      }
    }
  }
  .deadline {
    font-size: 0.8rem;
    color: #888;
    white-space: nowrap;
    margin-left: auto;
  }
}
