.searchresults_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .results {
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  
  }
  
   