@use '@/utils/variables' as *;

.about-company {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;

  .hero {
    background: url('/introduce_main2.png') center center / cover no-repeat;
    color: white;
    padding: 100px 20px;
    position: relative;
    display: flex;
    justify-content: start;

    .overlay {
      max-width: 1200px;
      width: 100%; // 반응형 핵심!
      padding: 40px 20px; // what-we-do와 동일한 padding
      margin: 0 auto; // 가운데 정렬되면서 좌우 여백 맞추기
      border-radius: 10px;
      text-align: left;

      h1 {
        font-size: $font-h2;
        margin-bottom: 10px;
      }

      h2 {
        font-size: $font-h3;
        font-weight: 400;
        margin-bottom: 40px;
      }

      .quote {
        font-style: italic;
        margin-bottom: 20px;
        font-size: $font-h5;
        line-height: $lh-normal;
      }

      .desc {
        font-size: $font-body-title;
        line-height: $lh-loose;
      }
    }
  }

  .what-we-do {
    padding: 80px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: $font-h3;
      color: $deep-green;
      margin-bottom: 5px;
    }

    .intro-container {
      margin-right: $font-h3;
      line-height: $lh-normal;
    }

    .intro {
      font-size: $font-body-title;
      color: #666;
      margin-bottom: 30px;
    }

    .feature-wrapper {
      border-bottom: 1px solid #ddd;
      margin-top: 50px;
    }

    .feature-wrapper:last-child {
      border-bottom: none;
    }

    .content {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px;

      .features {
        flex: 1;
        min-width: 300px;

        .feature {
          margin-bottom: 40px;

          h3 {
            font-size: $font-h5;
            color: $green;
            margin-bottom: 8px;
          }

          p {
            font-size: $font-body;
            color: #444;
            line-height: 1.6;
          }
        }
      }

      .image-box {
        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}
